.header {

    background-image: var(--hero-image);
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100%;

    @include responsive(sm) {

        height: 110vh;
    }


    .container {
        margin-top: -15rem;
        padding: 4rem;

    }

    &__content {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-right: 8rem;

        @include responsive(sm) {

            width: 100%;
            text-align: center;
        }

    }

    &__btn {
        align-self: center;
    }


}

.scroll {
    margin-top: -5rem;
    position: relative;
    top: -20rem;
    text-align: center;

    &__text {
        color: var(--white);
    }
}