.btn {
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1em 1.5rem;
    font-size: 1.7rem;
    color: var(--white);
    font-weight: 700;

    margin-bottom: 5rem;



}