.facilities {



    padding: 10rem 5rem;
    text-align: center;


    &__paragraph {
        margin: 4rem 0;
    }

    &__description {
        font-size: 4.8rem;
        padding: 1rem 4rem;
        font-weight: 700;
        background-color: var(--white);
        text-transform: uppercase;
    }

    &__header {
        background-image: linear-gradient(rgba(#14274a, .5), rgba(#14274a, .5)), var(--image-3);
        background-size: cover;
        background-position: center;
    }
}