.about {
    padding: 10rem 0;

}

.testimonials {
    padding: 10rem 0;

    .container {
        text-align: center;
    }
}

.testimonial {
    &__quote {
        margin-top: 3rem;
    }

    &__author {
        margin-bottom: 3rem;
    }

}

.footer {
    padding: 10rem;

    @include responsive(md) {
        padding: 10rem 0rem;
    }
}